{
	"useTabs": true,
	"tabWidth": 2,
	"endOfLine": "crlf",
	"printWidth": 120,
	"semi": true,
	"singleQuote": true,
	"htmlWhitespaceSensitivity": "css",
	"overrides": [
		{
			"files": ["*.json", "*.yml", "*.yaml"],
			"options": { "useTabs": false }
		}
	]
}
